.btn-warning{
    width: 163px;
    padding: 5px;
    margin: 2px;
}

.jumbotron{
    width: 100%;
    margin: auto;
    padding: 2% !important;
    justify-content: center;
}
.login_btn_frme_cls{
    background: rgba(99, 99, 128, 0.1);
    border: 3px solid rgba(240, 240, 255, 0.1);
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 18px ;
  line-height: 22px;
  /* identical to box height */
border-radius: 5px;
  
  text-align: center;
  
  color: #F0F0FF;
  border-radius: 5px;
  
}
.line-set{
    padding-bottom: 7%;
}

.style_head_two_med{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    
    color: #F0F0FF;
    
}
.btn-tryout{
    /* font-family: Aileron; */
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
border: 3px solid rgba(240, 240, 255, 0.1);
box-sizing: border-box;
border-radius: 5px;
color: #32324D;

}
.head_frm_cs{
    /* font-family: Aileron; */
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 86px;
}
.frm-resdef-cls{
    /* font-family: Aileron; */
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 43px;

color: #F0F0FF;
}
.btn-outline-secondary{
    color: #F0F0FF;
    padding: 10px !important;
   
    height: 49px !important;
    margin: 5px;
display: inline;
}

.packages{
    flex-basis: content;
    padding-top: 7vh;
    padding-left: 23vh;
}
.package1{
    background-color: #454457;
    height: 55vh;
    width: 25vw;
    border: 0.5px solid #60607c;

}
div.c-card-h-cls{
    color: white !important;
}
@media(max-width:480px){
        h4{
            font-size: 1rem;
        }
        .line-set{
            padding-bottom: 2px;
        }
        .frm-res-cls{
            margin-bottom: 0 !important;
            
        }
}