.stylebuttloginex {
    width: auto;
    margin-bottom: 6px;
    margin: auto;
    position: relative;
    margin: 5px;
    justify-content: center;
    background-color: transparent;
  
    text-align: center;
  }
  