.stylebuttloginps {
  /* width: auto;
  margin-bottom: 6px;
  margin: auto;
  position: relative;
  margin: 5px;
  justify-content: center; */
  
border: 3px solid rgba(240, 240, 255, 0.1);
box-sizing: border-box;
border-radius: 5px;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */
background: rgba(99, 99, 128, 0.1);
text-align: center;

color: #F0F0FF !important;


}
