
body {
  margin: 0;
  /* font-family: Aileron; */
  -webkit-font-smoothing: antialiased;
  background-color: #32324d !important;
  -moz-osx-font-smoothing: grayscale;
}
.style_input{
  border-radius: 5px;
  border-bottom: 1px solid #F0F0FF !important;
}
.main_checkbox_cls{
  position: absolute;
width: 19.65px;
height: 17.86px;
left: 1531px;
top: 485px;
}
.chkbx-1{
  position: absolute;
  left: 89.13%;
  right: -66.72%;
  top: 20.16%;
  bottom: 67.12%;
  background: #E4DC00;
  border-radius: 3px;
  transform: matrix(-0.56, 0.83, -0.83, -0.56, 0, 0);
}
.chkbx-2{
  position: absolute;
left: 18.68%;
right: 38.09%;
top: 47.39%;
bottom: 39.89%;

background: #E4DC00;
border-radius: 3px;
transform: matrix(0.78, 0.62, -0.62, 0.78, 0, 0);
}
/* .btn-secondary{
  background: rgba(99, 99, 128, 0.1) !important;
} */
nav.bg-nvbar-cls{
  background: #32324d !important;
}
/* custom chcekbox */
/* .custom-checkbox .custom-control-label::before{
  border-radius: 0.1rem !important;
} */
/* .custom-control-label::before{
  border: 3px solid rgba(240, 240, 255, 0.1) !important ;
  width: 45px !important;
  background-color: rgba(99, 99, 128, 0.1)  !important;
  top: -0.6rem !important;
height: 45px !important;
left: -1.9rem;
} */
/* .custom-control-label::after{
  background-color: rgba(99, 99, 128, 0.1)  !important;
  left: -1.8rem;
  top: -0.5rem;
width: 2.1rem !important;
    height: 2rem !important;
  
} */
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
  /* left: -1.1rem !important; */
}

  /* width: 1.2rem;
  left: -1.4rem;
  top: 1.5rem; */

code {
  /* font-family: Aileron !important; */
  font-style: normal;
  font-weight: normal;
}
/* log in styling */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  /* font-family: Aileron; */
  font-style: normal;
  font-weight: normal;
}
pre{

  font-family: 'FontMe' !important;
}
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 400;
font-style: normal;
font-weight: normal;
}
.btnedited{
    background-color: #2176ff ;
    border: 3px solid yellow;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
}


body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password, 
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}


@media(min-width:1920px){
  .Side_title{
 
font-size: 24px;
line-height: 29px;
}

  .style_head_two_med{
    /* font-family: Aileron; */
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 43px;

color: #F0F0FF;

  }
  .getToknow{
    border: 3px solid rgba(240, 240, 255, 0.1);
box-sizing: border-box;
border-radius: 5px;
  }
  .stylebuttmed{
    border: 3px solid rgba(240, 240, 255, 0.1);
box-sizing: border-box;
border-radius: 5px;
font-size: 18px;
margin: 0px 10px;
line-height: 22px;
color: #32324D;

  }
  .styleheadmed{
    /* font-family: Aileron; */
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 43px;

  }
  .stylefontmed{
 /* font-family: Aileron; */
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 86px;
  }
  .btn-cls-cmpfrgt{
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .dateset{
    font-size: 12px;
    line-height: 14px;
    color:  #babad8;
    /* margin-left: 15px !important; */
  }
  .username-post{
    
font-size: 12px;
line-height: 14px;
  }
  .languages{
    font-size: 18px;
line-height: 22px;
  }
  .para_blg{
    font-size: 24px !important;
    line-height: 29px;
  }
  .titlepost{
font-size: 36px;
line-height: 43px;
}

  .font_all_lbl{
    
  /* font-family: Aileron; */
  font-style: normal;
  font-weight: normal;
  font-size: 12px !important;
  line-height: 14px !important;
  }
  .reg{
font-size: 36px;
line-height: 43px;
  }
  .setsignup{
    padding-top:30px !important ;
width: 50% !important;
height: 1080px !important;
background: #32324D;
  }
  .content-blog{
    font-size: 18px;
line-height: 22px;
  }
  li a.nav-link{
    font-size: 18px !important ;
line-height: 22px !important;
  }
  .logoc{
    /* position: absolute;
  width: 35px;
  height: 35px;
  left: 753px;
  top: 13px; */
}
  .bg-nvbar-cls{
    font-size: 18px;
  }
/* .content-div-col2{
  border: 2px solid  #60607c;
  border: 3px solid rgba(240, 240, 255, 0.1);
box-sizing: border-box;
} */
  .CardLogin{
    position: absolute !important;
    width: 343px !important;
    left: 789px;
    top: 247px;
  }
  .f-14-c-cls{
font-size: 24px;
  }
  .cus-bdr-cls{
    height: 206px !important;
    background: rgba(99, 99, 128, 0.1) !important;
  }
  .cus-bdr-cls-pkg{
    height: 83px !important;
    padding-top: 10px;
    background: rgba(99, 99, 128, 0.1)!important;

  }
  .cus-bdr-cls-un{
    height: 467px !important;
    

  }
.btn-sub-cls{
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.post_paragraph {
  display: block !important;
  width: 100vw !important;
}
.login_btn{
  width: 163px !important;
}

}
@media(max-width:768px){
  .cus-bdr-cls-un{
    display: none !important;
  }

  .card{
    width:50% !important
  }
  .btn_reg_cls{
    text-align: center !important;
  }
  .submit_reg{
    width: 25vw !important;
    /* display: block !important; */
  }
  .setsignup{
    width: 73% !important;
  }
  .styleTryitbuttmed{
  width: auto !important;
    padding: 5px 20px !important;
    color: black;
    height: auto;
   
    margin-top: 6px;
  }
  .stylebuttmed{
    width: 150px !important;
    margin-bottom: 6px;
  }
}
@media(max-width:375px){
  h3.f-s-clsq{
    font-size: 11px!important;
  }
}
@media (max-width:320px){
  .btn-sub-cls{
    display: block !important;
    padding-left: 2px !important;
    padding-right: 13px !important;
    /* width: 57px !important; */

  }
  h3.f-s-clsq{
    padding-left: 0px !important;
  }
  /* .btn-sub-cls-new{
    margin-top: 40px;
  }
  */
   div.new-cls-med-pkgs{
    width: 91vw;

    padding: none !important;
    height: 25vh !important;
    /* background-color: red !important; */
  }

}
@media (max-width:480px){
  .respkg-cls2 {
  font-size: 22px !important;
  }
  .or-cls{
    display: none !important;
  }
  .new-cls-med-pkgs{
    width: 90vw;
     height: 129px !important;
  }
  .card{
    width:100% !important;
  }
  /* div.cardLoginMBL{
    width:90% !important;
    margin-left: 20px !important;
  } */
  .btn2-stl-new{
    font-size: 17px !important;
  }

  .stylefontmed{
   font-size:  33px !important;
  }
  .card-new-post{
    margin-right: 0px !important;
  }
  .card-new-post2{
    margin-right: 0px !important;

  }
  .btn_reg_cls{
    text-align: center !important;
  }
  .submit_reg{
    width: 25vw !important;
    /* display: block !important; */
  }
  .btn_reg_cls
  .card-new-post3{
    margin-right: 0px !important;

  }

  .stylebuttmed{
    width: 150px !important;
  }
  .styleheadmed{
    font-size: 22px;
  }
  .head_med_framework{
    font-size: 32px !important; 

  }
  .style_head_two_med{
    font-size: 15px;
  }

   .getToknow{
     font-size:  18px;
     height: auto;
     
  }
  .styleTryitbuttmed{
    display: block !important;
    width: 33vw !important;
    padding: 6px 1px !important;
    color: black;
    height: auto !important;
    margin: auto;
    position: relative;

    margin-bottom: 6px;
  }
a.stylebuttlogin{
  width:90px !important;
  
    margin: auto;
    height: auto !important;
    
    position: relative;
    left: 34px;
    justify-content: center;  
    display: block !important;
}
.setsignup{
  width: 94% !important;
  height: 100% !important;
  /* padding: 0 !important; */
}
.menus {
  justify-content: center;
  text-align: center;
}
.jstfy_content{
  font-size:  21px;
  display: block;
}
.hideMed{
  display: none !important;
}
ul.navbar-nav{
  padding-left: 0px !important;
}
.loginmed{
  text-align: center !important;
}
.reset_btn_med{
  text-align: center !important;
}
h5.forgotpassword{
  text-align: center !important;
  margin:11px;
}

.iconacco{
  justify-content: center;
}
.content-blog{
  word-break: break-all;
}
.setforget{
  width: 100% !important;
}
.media_forget_btn{
  text-align: center !important;

}
.dateset{
  /* position: relative;
  left: -74%; */
  display: block;
  text-align: left !important;
}
.reg{
  font-size: medium;
}
.card_cms{
  width: auto !important;
}
.username-post{
  display: block;
  padding-left: 1px;

  font-size: 15px  !important;
}

.submit_btn_forgt{
width: 45% !important;
margin-top: 8px;
}
.toolblog{
 text-align: right; 
 display: block !important;
 top: 20px !important;
  /* top: 20px; */
  /* margin-top: 13px !important; */
}
.robotclass{
  width: 55vw;
  margin-bottom: 10px;
}
.font_all_lbl{
  font-size: 14px;
}
.setbuttonframe{
  display: inline-flex !important;
  padding-right:  31px;
  margin-top: 13px;
}
.text_blog_post{
  padding-left: 15px !important;
}
.stylebuttloginac{
  margin: 0 !important;
  padding: 9px !important;
    justify-content: center;
    width: 68vw !important;
}
}
